@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* rgb(240, 176, 15) */
body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
  color: black;
  max-width: 1200px;
  margin: auto;
}
.page {
  padding-top: 70px;
  margin: auto;
}

.header {
  position: fixed;
   /* top: 0; */
  /* left: 0;  */
  width: 100%;
  padding: 15px 0;
  background: rgb(240, 176, 15);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.mobile-header{
  display: none;
}
.header2{
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  background: rgb(240, 176, 15);
}
.logo {
  position: relative;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(240, 176, 15);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}
.menu {
  display: none;
}
.navbar a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
  color: whitesmoke;
}

.navbar ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navbar_btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

/* hero */
.hero {
  height: 85vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background-image: linear-gradient(
    to bottom right,
    rgb(240, 176, 15) 80%,
    black 20%
  );
}

.hero-content {
  max-width: 550px;
}

.hero-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(240, 176, 15);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.hero-content h3 {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  color: whitesmoke;
}

.hero-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(240, 176, 15);
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.hero-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.hero-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(240, 176, 15);
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.hero-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.hero-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(240, 176, 15);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: whitesmoke;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: white;
}

.btn-box a:nth-child(2):hover {
  color: black;
}

.btn-box a:nth-child(2)::before {
  background: whitesmoke;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.hero-sci {
  position: absolute;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.hero-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(240, 176, 15);
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.hero-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.hero-sci a {
  color: whitesmoke;
}

.hero-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  z-index: -1;
  transition: 0.5s;
}

.hero-sci a:hover::before {
  width: 100%;
}
.top-socials {
  margin-top: 50px;
}

.hero-imghover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  /* right: 200px; */
  height: 100%;
  background: transparent;
  transition: 3s;
  animation: manipActiveHover 0.1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}

.hero-imghover:hover {
  background: black;
  opacity: -1;
}

.hero-imghover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(240, 176, 15);
  animation: showRight 1s ease forwards;
  animation-delay: 3s;
  z-index: 100;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}


/* gallery */

.Gallery {
  background-color: whitesmoke;
  padding: 10px 10px;
}
.sub_heading {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
}
.img_box {
  border: 4px solid black;
  width: 400px;
  padding: 20px;
  border-radius: 18px;
  margin: 0 auto;
}
.product_img {
  width: 360px;
  border-radius: 10px;
  border: 2px solid black;
}
.img_label {
  text-align: center;
  background: black;
  padding: 5px;
  color: whitesmoke;
}
.card_list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.footer {
  display: flex;
  align-items: center;
  background: rgb(240, 176, 15);
  padding: 30px;
  gap: 20px;
}
form {
  width: 600px;
}

fieldset {
  padding: 10px;
  border: 4px solid black;
}
.input {
  border: 4px solid black;
  border-radius: 10px;
  padding: 2px 10px;
  margin-bottom: 5px;
  width: 100%;
  font-size: larger;
}
.input_btn {
  border: none;
  background: black;
  color: whitesmoke;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: larger;
}
.contact-us >h3{
  font-size: 30px;
}
.bottom-socials {
  padding: 0px;
  /* left: 200px; */
  position: relative;
  padding-bottom: 50px;
}

/* mobile view */
@media screen and (max-width: 700px) {
  .header {
    display: flex;
    justify-content: space-between;
    background: rgb(240, 176, 15);
  }
  .wide-header{
    display: none;
  }
  .logo {
    padding-left: 15px;
  }
  .menu {
    display: block;
    margin-right: -180px;
    font-size: 30px;
  }

  .navbar_btn {
    visibility: visible;
    opacity: 1;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: black;
    transition: 1s;
    transform: translateY(-100vh);
  }
  .responsive_nav {
    transform: none;
  }
  .navbar ul {
    list-style: none;
    display: block;
    line-height: 4rem;
  }

  .navbar_close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .navbar a {
    color: rgb(240, 176, 15);
    font-size: 1.5rem;
  }

  /* hero */
  .hero {
    display: block;
    padding: 100px 5%;
      height: 100vh;
      background-image: linear-gradient(
        to bottom right,
        rgb(240, 176, 15) 75%,
        black 25%
      );
    
  }
  .hero-content h1 {
    font-size: 38px;
    font-weight: 900;
  }
  .hero-content h3 {
    font-size: 30px;
    font-weight: 400;
  }
  .hero-content p {
    font-size: 17px;
  }
  .hero-imghover {
    display: none;
  }

  .Gallery {
    padding: 10px 20px;
  }
  .sub_heading {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
  }
  .img_box {
    border: 2px solid black;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
  }
  .product_img {
    width: 180px;
    border-radius: 8px;
    border: 2px solid black;
  }
  .img_label {
    text-align: center;
    background: black;
    padding: 5px;
    color: whitesmoke;
  }
  .card_list {
    display: block;
    padding: 10px 0px 10px 10px;
  }
  form {
    max-width: 300px;
  }
  .input {
    padding: 2px 10px;
    margin-bottom: 5px;
    width: 100%;
  }
  .input_btn {
    padding: 5px;
  }
}
@media screen and (max-width: 900px) {
  .hero-imghover {
  display: none;
}
.footer {
  display: flex;
  flex-direction: column;
}
.contact-us{
  display: flex;
  flex-direction: column;
  align-items: center;

}
}
